.footer {
  position: fixed;
  bottom: 2em;
  width: 100%;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
  margin: 2em auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.advice {
  background-color: hsl(217, 19%, 24%);
  padding: 2em;
  width: 100%;
  border-radius: 15px;
  text-align: center;
  margin-top: 2em;
  margin-bottom: -1em;
}

.mobile-divider {
  display: block;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.desktop-divider {
  display: none;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.7em;
  width: 90%;
}

.advice-text {
  color: hsl(193, 38%, 86%);
  font-size: 1em;
}

.advice-number {
  color: hsl(150, 100%, 66%);
  font-size: 0.5em;
}

.dice-button {
  background-color: hsl(150, 100%, 66%);
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.3em;
  z-index: 1;
  position: relative;
  border: none;
}

@media (min-width: 768px) {
  .advice-text {
    font-size: 1.3em;
  }

  .advice-number {
    font-size: 0.8em;
  }

  .mobile-divider {
    display: none;
  }

  .desktop-divider {
    display: block;
  }

  .dice-button {
    box-shadow: 0 0 10px 5px rgba(0, 255, 0, 0);
    transition: box-shadow 0.3s ease;
  }

  .dice-button:hover {
    box-shadow: 0 0 20px 5px hsl(150, 100%, 66%);
    cursor: pointer;
  }

  .container {
    max-width: 40%;
  }
}
