@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 200 to 800 */

:root {
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(218, 23%, 16%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
